*{
    margin: 0;
    padding: 0;
    outline: 0;
}
section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 191, 195);
}
.container{
    padding: 100px 150px;
    text-align: center;
    font-family: arial;
    text-transform: uppercase;
    background: whitesmoke;
}
h2{
    padding: 30px 0;
    font-size: 100px;
}
button{
    padding: 15px 25px;
    border-style: none;
    background: rgb(180, 160, 163);
    font-size: 20px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}
#reset_btn{
    margin: 0 30px;
}